cmake-build-debug/
.idea
Makefile
CmakeCache.txt
CmakeFiles/
CustomVonNeumannMachine
cmake_install.cmake

cmake-build-debug/.ideaMakefileCmakeCache.txtCmakeFiles/CustomVonNeumannMachinecmake_install.cmake
